<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dykj.domain.chat.repository.ChatRepository">

    <insert id="insertMessage" parameterType="com.project.dykj.domain.chat.dto.ChatMessageVO">
        INSERT INTO CHAT_MESSAGES (
            CHAT_ID, 
            USER_ID, 
            CHAT_CONTENT, 
            SEND_TIME
        ) VALUES (
            SEQ_CHAT_ID.NEXTVAL, 
            #{userId}, 
            #{chatContent}, 
            SYSDATE
        )
    </insert>
    
    
    <select id="selectChatList" resultType="com.project.dykj.domain.chat.dto.ChatMessageVO">
    SELECT 
        CHAT_ID,
        USER_ID,
        CHAT_CONTENT,
        SEND_TIME
    FROM CHAT_MESSAGES
    ORDER BY SEND_TIME ASC
</select>

<select id="selectChatListByPaging" resultType="com.project.dykj.domain.chat.dto.ChatMessageVO">
    SELECT * FROM (
        SELECT 
            CHAT_ID, USER_ID, CHAT_CONTENT, SEND_TIME
        FROM CHAT_MESSAGES
        <if test="lastChatId != null">
            WHERE CHAT_ID &lt; #{lastChatId}  </if>
        ORDER BY CHAT_ID DESC  )
    WHERE ROWNUM &lt;= #{limit}  </select>
    
    <select id="selectChatListPaged" parameterType="map" resultType="com.project.dykj.domain.chat.dto.ChatMessageVO">
    SELECT * FROM (
        SELECT 
            CHAT_ID, 
            USER_ID, 
            CHAT_CONTENT, 
            SEND_TIME
        FROM CHAT_MESSAGES
        WHERE 1=1
        <if test="lastChatId != null">
            AND CHAT_ID &lt; #{lastChatId}  </if>
        ORDER BY CHAT_ID DESC  )
    WHERE ROWNUM &lt;= #{limit}  </select>

</mapper>
