<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dykj.domain.game.mapper.GameMapper">

	<!-- 레벨 정책 조회 -->
	<select id="selectLevelPolicies" resultType="LevelPolicy">
		SELECT LEVEL_ID,
			   REQUIRED_EXP
		FROM LEVEL_POLICIES
		ORDER BY LEVEL_ID ASC
	</select>
	
	<!-- 경험치 획득 기록 -->
	<insert id="insertExpHistory" parameterType="ExpHistory">
		INSERT INTO EXP_HISTORIES (
			EXP_LOG_ID,
			USER_ID,
			GAINED_EXP,
			SOURCE_TYPE,
			SOURCE_ID,
			GAINED_AT
		) VALUES (
			SEQ_EXP_HISTORIES.NEXTVAL,
			#{userId},
			#{gainedExp},
			#{sourceType},
			#{sourceId},
			SYSDATE
		)
	</insert>
	
	<!-- 회원 경험치 증가 -->
	<update id="updateMemberExp">
		UPDATE MEMBERS
			SET EXPERIENCE = EXPERIENCE + #{amount}
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 회원 레벨 증가 -->
	<update id="updateMemberLevel">
		UPDATE MEMBERS
			SET USER_LEVEL = #{level}
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 오늘 출석 여부 확인 -->
	<select id="selectTodayAttendance" resultType="_int">
		SELECT COUNT(*)
		FROM ATTENDANCES
		WHERE USER_ID = #{userId}
			AND TRUNC(ATTENDANCE_DATE) = TRUNC(SYSDATE)
	</select>
	
	<!-- 출석 체크 기록 -->
	<insert id="insertAttendance">
		INSERT INTO ATTENDANCES(
			ATTENDANCE_ID,
			USER_ID,
			ATTENDANCE_DATE
		)VALUES(
			SEQ_ATTENDANCES.NEXTVAL,
			#{userId},
			SYSDATE
		)
	</insert>
	
	<!-- 누적 출석일수 갱신 -->
	<update id="updateCumulativeDays">
		UPDATE MEMBERS
		SET CONSEC_DAYS = CONSEC_DAYS + 1
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 출석 기록 조회 -->
	<select id="selectAttendanceHistory" resultType="string">
		SELECT TO_CHAR(ATTENDANCE_DATE, 'YYYY-MM-DD')
		FROM ATTENDANCES
		WHERE USER_ID = #{userId}
		ORDER BY ATTENDANCE_DATE DESC
	</select>
	
	<!-- 오늘의 퀴즈 조회 -->
	<select id="selectTodayQuiz" resultType="Quiz">
		SELECT 
			Q.QUIZ_ID,
			Q.QUIZ_QUESTION,
			Q.QUIZ_ANSWER,
			Q.QUIZ_EXPLAIN,
			Q.QUIZ_REWARD
		FROM QUIZZES Q
		JOIN QUIZ_CALENDAR C ON Q.QUIZ_ID = C.QUIZ_ID
		WHERE TRUNC(C.QUIZ_DATE) = TRUNC(SYSDATE)
	</select>

	<!-- 오늘 퀴즈 풀이 여부 확인 -->
	<select id="checkTodaySolved" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER_QUIZZES
		WHERE USER_ID = #{userId}
		  AND TRUNC(SOLVED_AT) = TRUNC(SYSDATE)
	</select>

	<!-- 퀴즈 풀이 기록 저장 -->
	<insert id="insertMemberQuiz">
		INSERT INTO MEMBER_QUIZZES (
			USER_ID,
			QUIZ_ID,
			SOLVED_AT,
			IS_CORRECT
		) VALUES (
			#{userId},
			#{quizId},
			SYSDATE,
			#{isCorrect}
		)
	</insert>
	
	<select id="selectUserAchievements" resultType="com.project.dykj.domain.game.dto.AchievementDTO">
		SELECT
			a.ACHIEVEMENT_ID,
			a.ACHIEV_NAME,
			a.ACHIEV_DESC,
			a.REWARD_EXP,
			a.REWARD_TITLE_ID,
			TO_CHAR(ma.ACHIEVED_AT, 'YYYY-MM-DD') AS achievedAt,
			NVL(ma.IS_REWARDED, 'N') AS isRewarded
		FROM ACHIEVEMENTS a
		LEFT JOIN MEMBER_ACHIEVEMENTS ma 
			ON a.ACHIEVEMENT_ID = ma.ACHIEVEMENT_ID 
			AND ma.USER_ID = #{userId}
		ORDER BY ma.ACHIEVED_AT DESC, a.ACHIEVEMENT_ID ASC
	</select>
	
	<select id="getAchievementMasterInfo" resultType="com.project.dykj.domain.game.dto.AchievementDTO">
		SELECT
			ACHIEVEMENT_ID,
			REWARD_EXP,
			REWARD_TITLE_ID
		FROM ACHIEVEMENTS
		WHERE ACHIEVEMENT_ID = #{achievementId}
	</select>
	
	<update id="updateRewardStatus">
		UPDATE MEMBER_ACHIEVEMENTS
		SET IS_REWARDED = 'Y'
		WHERE USER_ID = #{userId}
			AND ACHIEVEMENT_ID = #{achievementId}
			AND IS_REWARDED = 'N'
	</update>
	
	<insert id="insertMemberAchievement">
		MERGE INTO MEMBER_ACHIEVEMENTS ma
		USING DUAL
		ON (ma.USER_ID = #{userId} AND ma.ACHIEVEMENT_ID = #{achievementId})
		WHEN NOT MATCHED THEN
			INSERT(USER_ID, ACHIEVEMENT_ID, ACHIEVED_AT, IS_REWARDED)
			VALUES(#{userId}, #{achievementId}, SYSDATE, 'N')
	</insert>
	
	<select id="selectAttendanceCount" resultType="_int">
		SELECT COUNT(*)
		FROM ATTENDANCES
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectCorrectQuizCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER_QUIZZES
		WHERE USER_ID = #{userId}
			AND IS_CORRECT = 'Y'
	</select>
	
	<update id="insertMemberTitle">
		MERGE INTO MEMBER_TITLES mt
		USING DUAL
		ON (mt.USER_ID = #{userId} AND mt.TITLE_ID = #{rewardTitleId})
		WHEN NOT MATCHED THEN
			INSERT(USER_ID, TITLE_ID, GAINED_AT)
			VALUES(#{userId}, #{rewardTitleId}, SYSDATE)
	</update>
	
	<select id="selectMemberTitles" resultType="com.project.dykj.domain.game.dto.TitleDTO">
		SELECT
			t.TITLE_ID,
			t.TITLE_NAME
		FROM MEMBER_TITLES mt
		JOIN TITLES t ON mt.TITLE_ID = t.TITLE_ID
		WHERE mt.USER_ID = #{userId}
		ORDER BY mt.GAINED_AT DESC
	</select>
</mapper>