<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dykj.domain.holiday.mapper.HolidayMapper">
    
    <delete id="deleteHolidays" parameterType="string">
        DELETE FROM HOLIDAYS
        WHERE LOCDATE LIKE #{yearAndMonth} || '%'
    </delete>

    <insert id="insertHolidays" parameterType="list">
        INSERT INTO HOLIDAYS (LOCDATE)
        <foreach collection="list" item="day" separator=" UNION ALL ">
            SELECT (#{day}) FROM DUAL
        </foreach>
    </insert>

    <select id="getIsHoliday" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM HOLIDAYS
        WHERE LOCDATE = #{day}
    </select>
</mapper>