<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dykj.domain.member.mapper.MemberMapper">

	<insert id="insertMember" parameterType="Member">
        INSERT INTO MEMBERS (
            USER_ID,
            USER_PWD,
            PHONE,
            IS_RECEIVE_NOTIFICATION,
            ENROLL_DATE,
            POINTS,
            STATUS,
            USER_ROLE,
            CONSEC_DAYS,
            EXPERIENCE,
            USER_LEVEL
        ) VALUES (
            #{userId},
            #{userPwd},
            #{phone},
            #{isReceiveNotification},
            SYSDATE,
            10000000,
            'Y',
            'MEMBER',
            0,
            0,
            1
        )
    </insert>

    <select id="findByUserId" resultType="Member">
    	SELECT
 			M.USER_ID,
 			M.USER_PWD, 
 			M.PHONE, 
 			M.POINTS, 
 			M.STATUS, 
            M.USER_ROLE, 
            M.ENROLL_DATE, 
            M.CONSEC_DAYS, 
            M.IS_RECEIVE_NOTIFICATION, 
            M.EXPERIENCE, 
            M.USER_LEVEL,
            M.BAN_LIMIT_DATE,
            T.TITLE_NAME AS equippedTitleName,
            T.TITLE_IMG_URL AS equippedTitleImgUrl,
            T.TITLE_COLOR AS equippedTitleColor
 		FROM MEMBERS M
        LEFT JOIN MEMBER_TITLES MT ON M.USER_ID = MT.USER_ID AND MT.IS_EQUIPPED = 'Y'
        LEFT JOIN TITLES T ON MT.TITLE_ID = T.TITLE_ID
 		WHERE M.USER_ID = #{userId}
    </select>
    
    <select id="selectAllMemberIds" resultType="string">
        SELECT USER_ID FROM MEMBERS
    </select>
    
    <select id="checkId" resultType="_int">
        SELECT COUNT(*)
        FROM MEMBERS
        WHERE USER_ID = #{userId}
    </select>
    
    <!-- 전체 회원 목록 -->
    <select id="selectAllMembers" resultType="Member">
    	SELECT * FROM (
    		SELECT ROWNUM AS RN, A.* FROM(
    			SELECT
    				USER_ID,
    				PHONE,
    				POINTS,
    				ENROLL_DATE,
    				BAN_LIMIT_DATE,
    				STATUS,
    				USER_ROLE
    			FROM MEMBERS
    			ORDER BY ENROLL_DATE DESC
    		) A
    		WHERE ROWNUM &lt; = #{offset} + #{size}
    	)
    	WHERE RN &gt; #{offset}
    </select>
    
    <select id="selectTotalMemberCount" resultType="_int">
    	SELECT COUNT(*) FROM MEMBERS
    </select>
    
    <!-- 제재 기한 업데이트 -->
    <update id="updateBanLimitDate">
    	UPDATE MEMBERS
    	SET BAN_LIMIT_DATE = #{banLimitDate, jdbcType=DATE}
    	WHERE USER_ID = #{userId}
    </update>
    
    <update id="updateMemberStatus">
    	UPDATE MEMBERS
    	SET STATUS = #{status}
    	WHERE USER_ID = #{userId}
    </update>

</mapper>