<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dykj.domain.notification.repository.NotificationRepository">

    <select id="selectAllNotifications" resultType="com.project.dykj.domain.notification.dto.NotificationVO">
        SELECT * FROM NOTIFICATIONS
    </select>

</mapper>