<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dykj.domain.notification.repository.NotificationRepository">

    <resultMap id="notificationResultMap" type="com.project.dykj.domain.notification.dto.NotificationVO">
        <id property="notiNo" column="NOTI_NO"/>
        <result property="userId" column="USER_ID"/>
        <result property="notiType" column="NOTI_TYPE"/>
        <result property="notiChannel" column="NOTI_CHANNEL"/>
        <result property="message" column="MESSAGE"/>
        <result property="notiUrl" column="NOTI_URL"/>
        <result property="isRead" column="IS_READ"/>
        <result property="createAt" column="CREATE_AT"/>
    </resultMap>

    <select id="selectAllNotifications" resultMap="notificationResultMap">
        SELECT * FROM NOTIFICATIONS
        WHERE USER_ID = #{userId}
        ORDER BY CREATE_AT DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <insert id="insertNotification" parameterType="com.project.dykj.domain.notification.dto.NotificationVO">
        INSERT INTO NOTIFICATIONS (
            NOTI_NO, USER_ID, NOTI_TYPE, NOTI_CHANNEL, MESSAGE, NOTI_URL, IS_READ, CREATE_AT
        ) VALUES (
            SEQ_NOTI_NO.NEXTVAL, #{userId}, #{notiType}, #{notiChannel}, #{message}, #{notiUrl}, 'N', SYSDATE
        )
    </insert>

    <update id="updateReadStatus" parameterType="long">
        UPDATE NOTIFICATIONS SET IS_READ = 'Y' WHERE NOTI_NO = #{notiNo}
    </update>
    
    <select id="countTodayStockNotification" resultType="int">
        SELECT COUNT(*) FROM NOTIFICATIONS 
        WHERE USER_ID = #{userId} AND NOTI_URL LIKE '%' || #{stockId} || '%' AND TRUNC(CREATE_AT) = TRUNC(SYSDATE)
    </select>
    
    <update id="markAllAsRead" parameterType="string">
    UPDATE NOTIFICATIONS
    SET IS_READ = 'Y'
    WHERE USER_ID = #{userId}
      AND IS_READ = 'N'
	</update>
</mapper>