<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dykj.domain.ranking.mapper.RankingMapper">
    <!-- 시즌 번호를 가져오는 메소드 -->
    <!-- LAST_NUMBER의 값은 현재 시즌 번호보다 1 큰 값이므로 1을 빼준다. -->
    <select id="getCurrentSeasonNo" parameterType="string" resultType="_int">
        <choose>
            <when test="seasonPeriod == 'ALL'">
                SELECT 1 FROM DUAL
            </when>
            <otherwise>
                SELECT LAST_NUMBER - 1
                FROM USER_SEQUENCES
                WHERE SEQUENCE_NAME = 
                <choose>
                    <when test="seasonPeriod == 'WEEKLY'">
                        'SEQ_WEEKLY_SEASON_NO'
                    </when>
                    <when test="seasonPeriod == 'MONTHLY'">
                        'SEQ_MONTHLY_SEASON_NO'
                    </when>
                    <when test="seasonPeriod == 'YEARLY'">
                        'SEQ_YEARLY_SEASON_NO'
                    </when>
                </choose>
            </otherwise>
        </choose>
    </select>

    <select id="increaseCurrentSeasonNo" parameterType="string" resultType="_int">
        <choose>
            <when test="seasonPeriod == 'WEEKLY'">
                SELECT SEQ_WEEKLY_SEASON_NO.NEXTVAL
                FROM DUAL
            </when>
            <when test="seasonPeriod == 'MONTHLY'">
                SELECT SEQ_MONTHLY_SEASON_NO.NEXTVAL
                FROM DUAL
            </when>
            <when test="seasonPeriod == 'YEARLY'">
                SELECT SEQ_YEARLY_SEASON_NO.NEXTVAL
                FROM DUAL
            </when>
        </choose>
    </select>

    <select id="selectSeasonRanking" resultType="RankingRes">
        SELECT ROW_NUM, USER_ID, START_POINT, CURRENT_POINT, RETURN_RATE, "RANK"
        FROM (SELECT ROWNUM AS ROW_NUM,
                    USER_ID,
                    START_POINT,
                    CURRENT_POINT,
                    RETURN_RATE,
                    RANK() OVER (ORDER BY CURRENT_POINT DESC) AS "RANK"
            FROM SEASON_RANKINGS
            WHERE SEASON_PERIOD = #{seasonPeriod}
            AND SEASON_NO = #{seasonNo}
            ORDER BY RETURN_RATE DESC)
        WHERE ROW_NUM BETWEEN #{pageReq.start} AND #{pageReq.end}
    </select>

    <select id="selectWeeklyRanking" resultType="RankingRes">
        SELECT *
        FROM (SELECT ROWNUM,
                     USER_ID,
                     START_POINT,
                     CURRENT_POINT,
                     RETURN_RATE,
                     RANK() OVER (ORDER BY CURRENT_POINT DESC) AS RANK
              FROM WEEKLY_RANKINGS
              ORDER BY RETURN_RATE DESC)
        WHERE ROWNUM BETWEEN #{start} AND #{end}
    </select>

    <select id="selectMonthlyRanking" resultType="RankingRes">
        SELECT *
        FROM (SELECT ROWNUM,
                     USER_ID,
                     START_POINT,
                     CURRENT_POINT,
                     RETURN_RATE,
                     RANK() OVER (ORDER BY CURRENT_POINT DESC) AS RANK
              FROM MONTHLY_RANKINGS
              ORDER BY RETURN_RATE DESC)
        WHERE ROWNUM BETWEEN #{start} AND #{end}
    </select>

    <select id="selectYearlyRanking" resultType="RankingRes">
        SELECT *
        FROM (SELECT ROWNUM,
                     USER_ID,
                     START_POINT,
                     CURRENT_POINT,
                     RETURN_RATE,
                     RANK() OVER (ORDER BY CURRENT_POINT DESC) AS RANK
              FROM YEARLY_RANKINGS
              ORDER BY RETURN_RATE DESC)
        WHERE ROWNUM BETWEEN #{start} AND #{end}
    </select>

    <select id="selectAllRanking" resultType="AllRankingRes">
        SELECT *
        FROM (SELECT ROWNUM,
                     USER_ID,
                     POINTS,
                     RANK() OVER (ORDER BY POINTS DESC) AS RANK
              FROM MEMBERS
              ORDER BY POINTS DESC)
        WHERE ROWNUM BETWEEN #{start} AND #{end}
    </select>

    <update id="updateSeasonRanking" parameterType="string">
        MERGE INTO SEASON_RANKINGS S
        USING (
            SELECT M.USER_ID, (M.POINTS + NVL(T.TOTAL_STOCK_PRICE, 0)) AS TOTAL_ASSET
            FROM MEMBERS M
            LEFT OUTER JOIN (SELECT USER_ID, SUM(H.TOTAL_COUNT * S.CURRENT_PRICE) AS TOTAL_STOCK_PRICE
                            FROM HOLDINGS H
                            JOIN STOCKS S ON (H.STOCK_ID = S.STOCK_ID)
                            GROUP BY USER_ID) T
            ON M.USER_ID = T.USER_ID
            WHERE M.STATUS = 'Y'
        ) T
        ON ((S.SEASON_PERIOD = 'WEEKLY' AND S.SEASON_NO = (SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_WEEKLY_SEASON_NO')
            OR S.SEASON_PERIOD = 'MONTHLY' AND S.SEASON_NO = (SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_MONTHLY_SEASON_NO')
            OR S.SEASON_PERIOD = 'YEARLY' AND S.SEASON_NO = (SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_YEARLY_SEASON_NO')
            OR S.SEASON_PERIOD = 'ALL')
            AND S.USER_ID = T.USER_ID)
        WHEN MATCHED THEN
            UPDATE SET
                S.CURRENT_POINT = T.TOTAL_ASSET,
                S.RETURN_RATE = (T.TOTAL_ASSET - S.START_POINT) / S.START_POINT * 100
    </update>

    <insert id="insertCurrentSeasonRanking" parameterType="string">
        INSERT INTO SEASON_RANKINGS(RANKING_NO
                                ,USER_ID
                                ,START_POINT
                                ,CURRENT_POINT
                                ,RETURN_RATE
                                ,SEASON_PERIOD
                                ,SEASON_NO)
        SELECT SEQ_RANKING_NO.NEXTVAL
            ,T.USER_ID
            ,10000000
            ,T.TOTAL_ASSET
            ,(T.TOTAL_ASSET - 10000000) / 10000000 * 100
            ,#{seasonPeriod}
            ,(
            <choose>
                <when test="seasonPeriod == 'WEEKLY'">
                    SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_WEEKLY_SEASON_NO'
                </when>
                <when test="seasonPeriod == 'MONTHLY'">
                    SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_MONTHLY_SEASON_NO'
                </when>
                <when test="seasonPeriod == 'YEARLY'">
                    SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_YEARLY_SEASON_NO'
                </when>
                <when test="seasonPeriod == 'ALL'">
                    SELECT 1 FROM DUAL
                </when>
            </choose>
            )
        FROM (
            SELECT M.USER_ID, (M.POINTS + NVL(T.TOTAL_STOCK_PRICE, 0)) AS TOTAL_ASSET
            FROM (
                SELECT *
                FROM MEMBERS
                WHERE STATUS = 'Y'
                AND USER_ID NOT IN (SELECT USER_ID FROM SEASON_RANKINGS WHERE SEASON_PERIOD = #{seasonPeriod} AND SEASON_NO = (
                    <choose>
                        <when test="seasonPeriod == 'WEEKLY'">
                            SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_WEEKLY_SEASON_NO'
                        </when>
                        <when test="seasonPeriod == 'MONTHLY'">
                            SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_MONTHLY_SEASON_NO'
                        </when>
                        <when test="seasonPeriod == 'YEARLY'">
                            SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_YEARLY_SEASON_NO'
                        </when>
                        <when test="seasonPeriod == 'ALL'">
                            SELECT 1 FROM DUAL
                        </when>
                    </choose>
                    )
                )
            ) M
            LEFT OUTER JOIN (SELECT USER_ID, SUM(H.TOTAL_COUNT * S.CURRENT_PRICE) AS TOTAL_STOCK_PRICE
                            FROM HOLDINGS H
                            JOIN STOCKS S ON (H.STOCK_ID = S.STOCK_ID)
                            GROUP BY USER_ID) T
            ON M.USER_ID = T.USER_ID
        ) T
    </insert>

    <insert id="insertNewSeasonRanking" parameterType="string">
        INSERT INTO SEASON_RANKINGS(RANKING_NO
                                ,USER_ID
                                ,START_POINT
                                ,CURRENT_POINT
                                ,RETURN_RATE
                                ,SEASON_PERIOD
                                ,SEASON_NO)
        SELECT SEQ_RANKING_NO.NEXTVAL
            ,T.USER_ID
            ,T.TOTAL_ASSET
            ,T.TOTAL_ASSET
            ,0
            ,#{seasonPeriod}
            ,(
            <choose>
                <when test="seasonPeriod == 'WEEKLY'">
                    SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_WEEKLY_SEASON_NO'
                </when>
                <when test="seasonPeriod == 'MONTHLY'">
                    SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_MONTHLY_SEASON_NO'
                </when>
                <when test="seasonPeriod == 'YEARLY'">
                    SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME='SEQ_YEARLY_SEASON_NO'
                </when>
            </choose>
            )
        FROM (
            SELECT M.USER_ID, (M.POINTS + NVL(T.TOTAL_STOCK_PRICE, 0)) AS TOTAL_ASSET
            FROM MEMBERS M
            LEFT OUTER JOIN (SELECT USER_ID, SUM(H.TOTAL_COUNT * S.CURRENT_PRICE) AS TOTAL_STOCK_PRICE
                            FROM HOLDINGS H
                            JOIN STOCKS S ON (H.STOCK_ID = S.STOCK_ID)
                            GROUP BY USER_ID) T
            ON M.USER_ID = T.USER_ID
            WHERE M.STATUS = 'Y'
        ) T
    </insert>

    <select id="selectSeasonRankingCount" parameterType="string" resultType="_int">
        SELECT COUNT(*)
        FROM SEASON_RANKINGS
        WHERE SEASON_PERIOD = #{seasonPeriod}
        AND SEASON_NO = (
            <choose>
                <when test="seasonPeriod == 'WEEKLY'">
                    SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'SEQ_WEEKLY_SEASON_NO'
                </when>
                <when test="seasonPeriod == 'MONTHLY'">
                    SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'SEQ_MONTHLY_SEASON_NO'
                </when>
                <when test="seasonPeriod == 'YEARLY'">
                    SELECT LAST_NUMBER - 1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'SEQ_YEARLY_SEASON_NO'
                </when>
                <when test="seasonPeriod == 'ALL'">
                    SELECT 1 FROM DUAL
                </when>
            </choose>
        )
    </select>
</mapper>

