<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dykj.board.mapper.ReplyMapper">

  <select id="nextCommentId" resultType="long">
    SELECT SEQ_REPLY.NEXTVAL FROM DUAL
  </select>

  <insert id="insertComment">
    INSERT INTO REPLY (
      REPLY_ID, REPLY_CONTENT, CREATE_DATE, BOARD_ID, USER_ID, DELETE_DATE, MODIFY_DATE
    ) VALUES (
      #{commentId},
      #{req.content},
      SYSDATE,
      #{postId},
      #{req.userId},
      NULL,
      NULL
    )
  </insert>

  <select id="selectComments" resultType="com.project.dykj.board.model.vo.BoardCommentItem">
    SELECT
      REPLY_ID   AS commentId,
      BOARD_ID   AS postId,
      USER_ID    AS userId,
      REPLY_CONTENT AS content,
      CAST(CREATE_DATE AS TIMESTAMP) AS createdAt
    FROM REPLY
    WHERE BOARD_ID = #{postId}
      AND DELETE_DATE IS NULL
    ORDER BY CREATE_DATE ASC
  </select>

  <update id="softDeleteComment">
    UPDATE REPLY
       SET DELETE_DATE = SYSDATE,
           MODIFY_DATE = SYSDATE
     WHERE REPLY_ID = #{commentId}
       AND DELETE_DATE IS NULL
  </update>

</mapper>
