<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dykj.domain.board.mapper.ReplyMapper">

  <insert id="insertReply">
    <selectKey keyProperty="replyId" resultType="int" order="AFTER">
      SELECT SEQ_REPLY.CURRVAL FROM DUAL
    </selectKey>
    INSERT INTO REPLY (
      REPLY_ID, REPLY_CONTENT, CREATE_DATE, BOARD_ID, USER_ID, DELETE_DATE, MODIFY_DATE
    ) VALUES (
      SEQ_REPLY.NEXTVAL,
      #{replyContent},
      SYSDATE,
      #{boardId},
      #{userId},
      NULL,
      NULL
    )
  </insert>

  <select id="selectReplies" resultType="Reply">
    SELECT
      R.REPLY_ID      AS replyId,
      R.REPLY_CONTENT AS replyContent,
      R.CREATE_DATE   AS createDate,
      R.BOARD_ID      AS boardId,
      R.USER_ID       AS userId,
      T.TITLE_NAME    AS userTitle,
      T.TITLE_IMG_URL AS userTitleImgUrl,
      T.TITLE_COLOR   AS userColor,
      R.DELETE_DATE   AS deleteDate,
      R.MODIFY_DATE   AS modifyDate
    FROM REPLY R
    LEFT JOIN MEMBER_TITLES MT
      ON R.USER_ID = MT.USER_ID
     AND MT.IS_EQUIPPED = 'Y'
    LEFT JOIN TITLES T
      ON MT.TITLE_ID = T.TITLE_ID
    WHERE R.BOARD_ID = #{boardId}
      AND R.DELETE_DATE IS NULL
    ORDER BY R.CREATE_DATE ASC
  </select>

  <select id="selectRepliesByUserId" resultType="Reply">
    SELECT
      R.REPLY_ID      AS replyId,
      R.REPLY_CONTENT AS replyContent,
      R.CREATE_DATE   AS createDate,
      R.BOARD_ID      AS boardId,
      R.USER_ID       AS userId,
      T.TITLE_NAME    AS userTitle,
      T.TITLE_IMG_URL AS userTitleImgUrl,
      T.TITLE_COLOR   AS userColor,
      R.DELETE_DATE   AS deleteDate,
      R.MODIFY_DATE   AS modifyDate
    FROM REPLY R
    LEFT JOIN MEMBER_TITLES MT
      ON R.USER_ID = MT.USER_ID
     AND MT.IS_EQUIPPED = 'Y'
    LEFT JOIN TITLES T
      ON MT.TITLE_ID = T.TITLE_ID
    WHERE R.USER_ID = #{userId}
      AND R.DELETE_DATE IS NULL
    ORDER BY R.CREATE_DATE DESC
    OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
  </select>

  <update id="updateReply">
    UPDATE REPLY
       SET REPLY_CONTENT = #{replyContent},
           MODIFY_DATE = SYSDATE
     WHERE REPLY_ID = #{replyId}
      AND DELETE_DATE IS NULL
  </update>

  <update id="softDeleteReply">
    UPDATE REPLY
       SET DELETE_DATE = SYSDATE,
           MODIFY_DATE = SYSDATE
     WHERE REPLY_ID = #{replyId}
       AND DELETE_DATE IS NULL
  </update>

</mapper>

